<div class="instructors clearfix">
    {% for instructor in site.data.staff.Instructors %}
    <div class="instructor-profile-four-col">
      <a href="{{ instructor.url }}" target="_blank"><img src="{{ instructor.image | prepend: '/assets/img/' | relative_url }}" /></a>
      <ul class="instructor-info">
        <li><span>Professor</span></li>
        <li><a href="{{ instructor.url }}" target="_blank">{{ instructor.name }}</a></li>
        <div class="social-icons">
          {% if instructor.google_scholar %}
          <a style="margin: 0 0px 0 0" href="{{ instructor.google_scholar }}">
            <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
          </a>  
          {% endif %}
          {% if instructor.github_link %}
          <a style="margin: 0 0px 0 0" href="{{ instructor.github_link }}">
            <i class="fab fa-github"></i>
          </a>
          {% endif %}
          {% if instructor.twitter %}
          <a style="margin: 0 0 0 0" href="{{ instructor.twitter }}">
            <i class="fab fa-twitter"></i>
          </a>
          {% endif %}
          </div>
      </ul>
    </div>
    {% endfor %}
  
    {% for instructor in site.data.staff.EducationAssociates %}
    <div class="instructor-profile-four-col">
      {% if instructor.image %}
      <a href="{{ instructor.url }}" target="_blank"><img src="{{ instructor.image | prepend: '/assets/img/' | relative_url }}" /></a>
      {% endif %}
      <ul class="instructor-info">
        <li><span>Post-Doc</span></li>  
        <li><a href="{{ instructor.url }}" target="_blank">{{ instructor.name }}</a></li>
        <div class="social-icons">
          {% if instructor.google_scholar %}
          <a style="margin: 0 0px 0 0" href="{{ site.google_scholar }}">
            <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
          </a>  
          {% endif %}
          {% if instructor.github_link %}
          <a style="margin: 0 0px 0 0" href="{{ site.github_link }}">
            <i class="fab fa-github"></i>
          </a>
          {% endif %}
          {% if instructor.twitter %}
          <a style="margin: 0 0 0 0" href="{{ site.twitter }}">
            <i class="fab fa-twitter"></i>
          </a>
          {% endif %}
          </div>
      </ul>
    </div>
    {% endfor %}
  
    {% for instructor in site.data.staff.TAs %}
    <div class="instructor-profile-four-col">
      {% if instructor.image %}
      <a href="{{ instructor.url }}" target="_blank"><img src="{{ instructor.image | prepend: '/assets/img/' | relative_url }}" /></a>
      {% endif %}
      <ul class="instructor-info">
        {% if instructor.name %}
        <li><span>PhD Student</span></li> 
        <li><a href="{{ instructor.url }}" target="_blank">{{ instructor.name }}</a></li>
        <div class="social-icons">
          {% if instructor.google_scholar %}
          <a style="margin: 0 0px 0 0" href="{{ site.google_scholar }}">
            <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
          </a>  
          {% endif %}
          {% if instructor.github_link %}
          <a style="margin: 0 0px 0 0" href="{{ site.github_link }}">
            <i class="fab fa-github"></i>
          </a>
          {% endif %}
          {% if instructor.twitter %}
          <a style="margin: 0 0 0 0" href="{{ site.twitter }}">
            <i class="fab fa-twitter"></i>
          </a>
          {% endif %}
          </div>
        {% endif %}
      </ul>
    </div>
    {% endfor %}
  </div>

---